@charset "UTF-8";
hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 50px;
}
.titulo h3 {
  text-align: center;
  font-size: x-large;
  margin-bottom: 30px;
}
.titulo small {
  font-size: medium;
}
.titulo small.text-body-secondary {
  color: #888;
}
.titulo small.text-center {
  text-align: center;
}

.foto .overlay {
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
}
.footer .copy {
  display: flex;
  justify-content: center;
  font-size: 10px;
  padding: 50px;
}
.footer .copy p {
  align-items: center;
}
.footer .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.redes a i {
  font-size: 40px;
  color: #00a873;
}

.color {
  background-color: #00a873;
  border: #00a873;
}

.carousel {
  width: 100vw;
  max-width: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.logo {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 20px;
}

/* Estilos generales para las imágenes */
.imagenes {
  display: flex;
  justify-content: center;
}

.bloque {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.bloque a {
  flex: 0 0 calc(33.33% - 10px);
  box-sizing: border-box;
  margin: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bloque img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.bloque a:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .bloque a {
    flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 480px) {
  .bloque a {
    flex: 0 0 calc(100% - 10px);
  }
}
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foto {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.foto img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5%;
  aspect-ratio: 1;
}

.foto .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

.foto:hover img {
  transform: scale(1.1);
  border-radius: 5%;
}

.foto:hover .overlay {
  opacity: 1;
}

@media (max-width: 480px) {
  .foto {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .foto {
    width: 20%;
    margin: 10px;
    padding: 10px;
  }
}
@media (min-width: 1025px) {
  .foto {
    width: 20%;
    margin: 10px;
    padding: 10px;
  }
}
.cont_foto {
  text-align: center;
  margin-bottom: 100px;
}

.mi_foto {
  width: 400px; /* Ajusta el tamaño según tus necesidades */
  height: 400px;
  object-fit: cover;
  border-radius: 50%; /* Hace que la imagen sea circular */
}

.mi_foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  text-align: center;
}

main p {
  text-align: justify;
  padding: 0 20px;
}

@media (max-width: 480px) and (min-width: 767px) {
  .mi_foto {
    height: 100px;
    width: 100px;
  }
  .mi_foto img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .foto {
    width: 20%;
    margin: 10px;
    padding: 10px;
  }
}
@media (min-width: 1025px) {
  .foto {
    width: 20%;
    margin: 10px;
    padding: 10px;
  }
}
.formulario {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

@media (max-width: 480px) {
  .formulario {
    width: 100%;
    margin: 10px 0;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .formulario {
    width: 45%;
    margin: 10px;
  }
}
@media (min-width: 1025px) {
  .formulario {
    width: 45%;
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
