.footer {
    display: flex;
    flex-direction: column;
    font-size: 4rem;

    .copy {
        display: flex;
        justify-content: center;
        font-size: 10px;
        padding: 50px;
    }

    .copy p{
        align-items: center;
    }

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
}

.redes a i {
    font-size: 40px;
    color: #00a873;
}

.color {
    background-color: #00a873;
    border: #00a873;
}