.logo {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    padding: 20px;
}

//Estilos Carousel 
.carousel {
    width: 100vw;
    max-width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}
