/* Estilos generales para las imágenes */
.imagenes {
    display: flex;
    justify-content: center;
}

.bloque {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.bloque a {
    flex: 0 0 calc(33.33% - 10px); 
    box-sizing: border-box;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.bloque img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.bloque a:hover img {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .bloque a {
        flex: 0 0 calc(50% - 10px); 
    }
}

@media (max-width: 480px) {
    .bloque a {
        flex: 0 0 calc(100% - 10px); 
    }
}

