// Estilos para las imágenes 
img {
    width: 100%;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    @media (max-width: 480px) {
        justify-content: center;
    }
}

.bloque {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.bloque a {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    box-sizing: border-box;
    padding: 3px;
    margin-bottom: 0%;
}

.bloque img {
    width: 100%;
    border-radius: 5%;
}

@media (max-width: 768px) {
    .bloque a {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .bloque a {
        width: 100%;
    }
}
